<div class="user_card" id="jibber_card">
	<div id="new_jibber_text"> Something is on your mind Jibber here </div>
	<%= form_for(@jibber) do |f| %>
	
		<% if @jibber.errors.any? %>
			<% @jibber.errors.full_messages.each do |msg| %>
				<error><%=msg %></error><br />
			<%end%>
		<%end%>
	
		<div id="jibber_box">
			<%= f.text_area :text, :rows => "5", :cols => "32"%>
		</div>
		<div id="jibber_button">
			<%= f.submit "Jibber"%>
		</div>
	<%end%>


</div>
