#username{
	font-size : 17px;
	margin-left : 6%;
	display : inline;
}

#logout_link{
	margin-right : 10%;
	float: right;
	font-size : 14px;
}

#user_info{
 margin-top : 10px;
}

#card_img{
	width:20%;
	float:left;
}
#card_img img{
	height:100px;
	width:100px;
}
.card_p{
	float: right;
    margin-right: 20%;
}

#jibber_card{

    top: 300px !important;
}

#new_jibber_text{
	font-size : 15px;
	margin-left : 10%;
}

#jibber_button input{
	width : 30%;
	height : 33px; 
	margin-top : 3%;
	float : right;
}

#jibber_box{
	margin-top : 10px;
}
