h1{
 margin-left:3%;
}

#welcome_message{
	margin-left:3%;
	margin-top:5px;
	width: 30%;
	font-size: larger;
}

.box{
	display:inline-block;
	padding: 10px;
	background:#667788;
	border-radius: 15px;
	margin:1%;
	width:70%;
	margin-left:15%;
	margin-right:15%;
        text-decoration:none;
}
.box_img{
	width:20%;
	float:left;
}
.box_img img{
	height:100px;
	width:100px;
}
.box_p{
	float:left;
	margin-top:-20px;
}
.box_button{
	float:right;
	width:15%;
	margin-top:50px;
}

