#jibber{
  
  width:73%;
}


#login input {
	margin : 1% auto;
	width: 100%;
	border-radius: 6px;
	padding : 4px;
    padding-left: 8px;
}

#login form{
	width: 85%;
	margin: 0 auto;
}

#login_button input{
	width : 50%;
	height : 33px; 
	margin : 5% 1% 5% 25%;
}


#login_caption{
	font-size : 14px;
	color : white;
	margin-left : 10%;
}

#link_to_login{
	margin-right : 10%;
	float: right;
	font-size : 14px;
}
