#jibber{
  
  width:73%;
}

#register_caption{
	font-size : 20px;
	color : white;
	margin-left : 10%;
}

#link_to_login{
	margin-right : 10%;
	float: right;
	margin-bottom : 5%;
}


#register_button input{
	width : 50%;
	height : 33px; 
	margin : 1% auto;
}
