<div id="jibber">
	<span id="welcome_message"> Latest Activity on Jibber-Jabber </span>
	<%= render :partial => "jibbers/jibbers"%>
</div>

<div id="">
	<%= render :partial => "jibbers/form"%>
</div>

<div id="">

</div>
